<section>
    <h1>About Me</h1>

    <p>Check out my <a href="http://about.me/hpachuveetil">about.me page</a>.</p>

    <p class="social-media">
        <a href="https://github.com/floydpink" title="GitHub">GitHub</a> |
        <a href="http://twitter.com/menonHari" title="Twitter">Twitter</a> |
        <a href="http://stackoverflow.com/users/218882/floyd-pink" title="Stack Overflow">SO</a> |
        <a href="http://careers.stackoverflow.com/hari" title="Stack Overflow Careers">Careers 2.0</a> |
        <a href="http://www.linkedin.com/in/haridaspachuveetil" title="LinkedIn">LinkedIn</a>
    </p>
</section>
