<ul class="main-navigation">
    <li><a href="{{ root_url }}/">Home</a></li>
    <li><a href="http://photography.harimenon.com/">Photography</a></li>
    <li><a href="http://ml.blog.harimenon.com/">Malayalam Blog</a></li>
    <li><a href="http://en.blog.harimenon.com/">English Blog</a></li>
    <li><a href="http://technology.harimenon.com/">Technical Blog</a></li>
    <li><a href="http://flickr.harimenon.com/">Sundry</a></li>
    <li><a href="http://contact.harimenon.com/">Contact Me</a></li>
</ul>