<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner" title="Generated on <%= date(new Date(), 'YYYYMMDD HHmmss') %>">
      Copyright &copy; 2009 - <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>&nbsp;|
      Powered by <a href="https://hexo.io/" target="_blank">Hexo</a>
    </div>
  </div>
</footer>