// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
html {
  background: image-url('bo_play_pattern.png') top left;
}
.social-icons a {
  margin: 0 0.1em;
  text-decoration: none;
}